<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-3">
        <p align="center">• 24/7 mobile equipment service & repair in Southern Colorado</p> 
        <p align="center">• Contact us today for your heavy equipment repairs & preventative maintenance</p> 
        <p align="center">• Call or text (719) 877-5139 or email admin@socoindustrial.com</p> 
      </div>
      <div class="col-lg-4">
        <p align="center">• Mobile hose crimping, lube services, mechanical, & fabrication</p>
        <p align="center">• Discounts available for active duty military & honorably discharged veterans</p>
        <p align="center">• Family owned & operated</p>
        <p align="center">• We carry General Liability, Product Liability, & Vehicle Insurance</p>
      </div>
      <div class="col-lg-4">
         <p align="center"><u>HOURS</u></p>
         <p align="center">Monday 12:00 am - 11:59 pm</p>
         <p align="center">Tuesday 12:00 am - 11:59 pm</p>
         <p align="center">Wednesday 12:00 am - 11:59 pm</p>
         <p align="center">Thursday 12:00 am - 11:59 pm</p>
         <p align="center">Friday 12:00 am - 11:59 pm</p>
         <p align="center">Saturday 12:00 am - 11:59 pm</p>
         <p align="center">Sunday 12:00 am - 11:59 pm</p>
      </div>
    </div>
  </div>
</section>
