<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>SOCO Industrial is a 24/7 heavy equipment service and repair business operating in southern Colorado.</p> 
        <p>Contact us today for help with crimping & replacing hoses at your job site.</p> 
        <p>Hydraulic & pneumatic troubleshooting, cylinders, pumps, motors, valves and more.</p> 
        <p>Discounts available for active duty military and honorably discharged veterans.</p>
      </div>
      <div class="col-lg-4">
        <p>Call or text (719) 877-5139.</p> 
        <p>Email admin@socoindustrial.com</p>
        <p>We are a proud Parker distributor</p>
      </div>
    </div>
  </div>
</section>
