<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>SOCO Industrial is a 24/7 mobile hydraulic service and repair business operating in southern Colorado. Contact us today for help with crimping & replacing hoses at your job site. Hydraulic troubleshooting, cylinders, pumps, motors, valves and more. Call or text (719) 877-5139. Discounts available for active duty military and honorably discharged veterans.</p>
      </div>
      <div class="col-lg-4">
        <p>Our service area is generally an hour radius around Cañon City; north to Hartsle, south to Westcliffe, east to Pueblo, and west to Salida. Service calls within the Cañon City/Florence city limits are free. Beyond the city limits and up to 25 miles is $50 to dispatch a service truck & technician. 25 miles or more is $100 to dispatch a service truck & technician.</p>
      </div>
    </div>
  </div>
</section>
